.props-panel {
  position: absolute;
  top: 10vh;
  left: 10px;
  width: 300px;
  .props-close {
    color: #ddd;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  .props-title {
    padding: 15px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
  }
  .props-body {
    min-height: 70vh;
    padding: 10px;
    background-color: #fff;
  }
}
  