.bgm-dialog {
  .bgm-active {
    margin-top: 30px;
    text-align: right;
    font-size: 12px;
  }
}
.bgm-lists {
  > li {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    > a {
      display: block;
      padding: 0 5px;
      font-size: 14px;
    }
    &:nth-child(2n + 1) {
      background-color: #f7f7f7;
    }
    &:hover {
      background-color: #1593ff;
    }
  }
  .origin {
    margin-left: 20px;
  }
}
