body {
  background-color: #d0cfd8;
}
.bg-main {
  background-color: $main_color;
}
.bg-sub {
  background-color: $sub_color;
}
.bg-gray {
  background-color: #f0f3f4;
}
.bg-white {
  background-color: #fff;
}
.h-full {
  height: 100%;
}
.h-from {
  .item {
    margin: 5px;
  }
}
.h-input {
  padding: 5px 10px;
  border: 1px solid #ddd;
  line-height: 1; 
}

.workspace {
  position: relative;
  width: $view_width + 8px;
  height: $view_height + 74px;
  margin: 0 auto;
  background-image: url(../assets/phonewhite-7a04c3.svg);
  background-repeat: no-repeat;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  border-radius: 40px;
  > .wrap {
    position: absolute;
    top: 37px;
    left: 4px;
    width: $view_width;
    height: $view_height;
    background-color: #fff
  }
}
.panel-header {
  color: #fff;
  line-height: 40px;
}
// 模板列表
.tpl-lists {
  float: left;
  width: 600px;
  height: 100%;
  margin: 10px auto;
  .item {
    float: left;
    padding: 10px 30px;
    border: 1px solid #dedede;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
}

.page-lists {
  li {
    padding: 15px;
    border: 1px solid $main_border_color;
    margin-bottom: 10px;
    color: $font_color;
    cursor: pointer;
    &.active {
      color: #fff;
      background-color: #59c7f9;
    }
  }
}

#panel {
  height: 100%;
}

.panel {
  box-shadow: 0px 0px 20px $main_border_color;
  > .el-card__header {
    background-color: $sub_color;
  }
  .tt {
    font-size: $pn_title_fs;
    color: #fff;
    > i {
      float: right;
      font-size: 22px;
      cursor: pointer;
    }
  }
}
// 顶部工具栏
.header-ctn {
  overflow: hidden;
  > .actions {
    float: right;
    margin-top: 10px;
  }
}
