// 展示编辑区域
.m-simulator {
  position: relative;
  width: $view_width + 8px;
  height: $view_height + 74px;
  background-image: url(../assets/phonewhite-7a04c3.svg);
  background-repeat: no-repeat;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  border-radius: 40px;
  > .wrap {
    position: absolute;
    top: 37px;
    left: 4px;
    width: $view_width;
    height: $view_height;
    background-color: #fff
  }
}

.m-animations {
  > li {
    float: left;
    width: 50%;
    margin: 10px 0;
  }
}

#view {
  height: 100%;
}

// preview
#preview {
  @include middle-center;
  .comp {
    position: absolute !important;
  }
}

// workspace
#workspace {
  position: relative;
}
.work-part {
  @include middle-center
}


.panel-header {
  color: #fff;
  line-height: 40px;
}

.page-lists {
  li {
    padding: 15px;
    border: 1px solid $main_border_color;
    margin-bottom: 10px;
    color: $font_color;
    cursor: pointer;
    &.active {
      color: #fff;
      background-color: #59c7f9;
    }
  }
}

#panel {
  height: 100%;
}

.panel {
  box-shadow: 0px 0px 20px $main_border_color;
  > .el-card__header {
    background-color: $sub_color;
  }
  .tt {
    font-size: $pn_title_fs;
    color: #fff;
    > i {
      float: right;
      font-size: 22px;
      cursor: pointer;
    }
  }
}
