*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #d0cfd8;
}

#app {
  position: relative;
  height: 100%;
  overflow: hidden
}

.s-bg-main {
  background-color: $main_color;
}
.s-bg-sub {
  background-color: $sub_color;
}
.s-bg-gray {
  background-color: #f0f3f4;
}
.s-bg-white {
  background-color: #fff;
}

.h-full {
  height: 100%;
}
.h-from {
  .item {
    margin: 5px;
  }
}
.h-input {
  padding: 5px 10px;
  border: 1px solid #ddd;
  line-height: 1; 
}

.bgm-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
  width: 30px;
  height: 30px;
  background-image: url(../assets/bgmBtn-fbd2dc.svg);
  background-size: contain;
  background-repeat: no-repeat;
  &.rotate {
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
  }
}
