.swiper-container {
  height: 100%;
}
.page-0 {
  background: #CA4040;
}
.page-1 {
  background: #1bbc9b;
}
.page-2 {
  background: #FF8604;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.comp {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
