$main_color: #31364a;
$sub_color: #76838f;
$main_border_color: #ddd;
$font_color: #666;

$topbar_height: 60px;

$pn_title_padding: 15px 10px;
$pn_title_fs: 16px;

$modules_width: 300px;
$modules_height: 500px;
$modules_left: 20px;
$modules_top: 140px;

$view_width: 375px;
$view_height: 667px;
$view_top: 120px;
$view_left: 500px;

$panel_width: 400px;
$panel_height: 600px;
$panel_right: 30px;
