*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #d0cfd8;
}

// 竖屏
@media screen and (orientation:portrait) {
  .is-mobile .landscape-show {
    display: none!important;
  }
}
.landscape-show {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  > p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-align: center;
  }
}
// 横屏
@media screen and (orientation:landscape) {
  .is-mobile #app {
    display: none!important;
  }
  .is-mobile .landscape-show {
    display: block!important;
  }
}

#app {
  position: relative;
  height: 100%;
  overflow: hidden
}
#mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .comp {
    position: absolute !important;
  }
}
.s-bg-main {
  background-color: $main_color;
}
.s-bg-sub {
  background-color: $sub_color;
}
.s-bg-gray {
  background-color: #f0f3f4;
}
.s-bg-white {
  background-color: #fff;
}

.h-from {
  .item {
    margin: 5px;
  }
}
.h-input {
  padding: 5px 10px;
  border: 1px solid #ddd;
  line-height: 1; 
}

.bgm-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 200;
  width: 30px;
  height: 30px;
  background-image: url(../bgmBtn-fbd2dc.svg);
  background-size: contain;
  background-repeat: no-repeat;
  &.rotate {
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
  }
}

.swiper-container {
  height: 100%;
  .swiper-slide {
    overflow: hidden
  }
}

.container, .comp-lists {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.comp {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
