@mixin grail-layout ($left: 200px, $right: 200px) {
  .g-wrap {
    padding:0 $right 0 $left; 
    overflow: hidden; 
  }
  .g-sd, .g-mn {
    min-height: 10px;
    float: left;
  }
  .g-mn {
    width: 100%;
  }
  .g-sd.fl {
    position: relative;
    left: -$left;
    width: $left;
    margin-left: -100%;
  }
  .g-sd.fr {
    position: relative;
    right: -$right;
    width: $right;
    margin-left: -$right;
  }
}

@mixin middle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
